* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    display: flex !important;
    justify-content: center !important;
    align-items: normal !important;
    height: 100%;
}

body > div {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 40px !important;
    padding: 10px !important;
    background: linear-gradient(45deg, transparent 0%, transparent 57%, #423246 100%),
    linear-gradient(-45deg, #1f1f8c 0%, #bb0e5f 0.3%, #28032f 112%, transparent 11%),
    linear-gradient(-90deg, #1f1f8c 100%, #bb0e5f 65%, transparent 20%);

}

div {
    display: flex;
    flex-direction: column;
}

.btn {
    color: white !important;
    background-color: #9d0000 !important;
    width: 30%;
}

.btn.btn-add {
    color: white !important;
    background-color: #9200ff !important;
    width: 40% !important;
}

.label-add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
}

label {
    display: flex !important;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

/*input#start-date.date {*/
/*    height: 40px;*/
/*    width: 50%;*/
/*    margin-top: 10px;*/
/*    margin-bottom: 10px;*/
/*    color: whitesmoke;*/
/*    display: flex;*/
/*    background-color: #141619 !important;*/
/*    border: none;*/
/*    border-radius: 10px;*/


/*}*/

input#due-date.date {
    height: 40px;
    width: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
    display: flex;
    background-color: #141619 !important;
    border: none;
    border-radius: 10px;


}
::-webkit-calendar-picker-indicator { background: ghostwhite; }
::-webkit-calendar-picker-indicator { text-decoration-color: black; }

div.toDoContainer {
    height: 24rem;
    border: none;
    border-radius: 12px;
    background-color: whitesmoke;
}


div.toDoListContainer {
    margin-top: 3cm !important;
    padding-top: 1rem;
    border: ridge !important;
    border-radius: 12px;
    background-color: whitesmoke;
}

.toDoListOrderedList {
    display: block;
}

.dropdown {
    height: 100%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}


.input {
    height: 150px;
    width: 700px;
    background: #141619;
    color: whitesmoke;
    font-size: xx-large;
    border: solid;
    border-radius: 8px !important;
}

.toDoListItemRemove {

    height: 20px;
    width: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

}
